#svelte {
  display: flex;
  flex-direction: column;
  height: 100vh; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #090;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px; }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #090; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #090;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #1aff1a;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  input[type=range]::-ms-fill-upper {
    background: #090;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  input[type=range]:focus::-ms-fill-lower {
    background: #090; }
  input[type=range]:focus::-ms-fill-upper {
    background: #1aff1a; }

fieldset {
  display: block;
  border-radius: 1rem;
  background-color: #eee;
  border-left-width: 0;
  border-right-width: 0;
  padding: 0.5rem;
  margin-top: 0.5rem; }
  fieldset legend {
    text-align: left;
    font-weight: 700;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 1.5rem;
    padding: 0.25rem 1rem;
    background-color: #aaccaa;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 3px 6px -3px rgba(255, 255, 255, 0.75), 0 3px 5px -3px rgba(0, 0, 0, 0.75); }

.button-action {
  display: block;
  font-size: 1rem;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.25rem;
  font-weight: 700;
  color: #FFF;
  margin: 0.25rem auto;
  padding: 0.25rem 1rem;
  background-color: #090 !important;
  transition: background-color 0.5s; }
  .button-action:hover {
    background-color: #00b300 !important; }

p {
  padding: 0 0.5rem; }

@media (min-width: 400px) {
  body {
    font-size: 16px; } }

h1.svelte-jpshsi, p.svelte-jpshsi {
  margin: 0 auto; }

h1.svelte-jpshsi {
  font-size: 2.8em;
  font-weight: 700;
  margin: 0 0 0.5em 0; }

p.svelte-jpshsi {
  margin: 1em auto; }

@media (min-width: 480px) {
  h1.svelte-jpshsi {
    font-size: 4em; } }

main.svelte-1473c1r {
  flex-grow: 1;
  max-width: 56em;
  padding: 0;
  margin: 0 auto;
  overflow: overlay;
  position: relative; }

p {
  text-align: left; }

code, pre {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1rem);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2rem 0.4rem;
  border-radius: 2px; }

.content.svelte-r9dxmx {
  text-align: center;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%; }

.loader.svelte-r9dxmx {
  position: absolute;
  padding-top: 10vh;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  opacity: 1;
  z-index: 9999;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  visibility: visible; }

.loader.loaded.svelte-r9dxmx {
  opacity: 0;
  visibility: hidden; }

.tab-panel.svelte-r9dxmx {
  flex-grow: 1;
  overflow: overlay;
  position: relative;
  padding-bottom: 4rem; }

ul.svelte-dfcnm7 {
  margin: 0 0 1em 0;
  line-height: 1.5; }

.content.svelte-m1j4hv h2 {
  font-size: 1.4em;
  font-weight: 500; }

.content.svelte-m1j4hv pre {
  background-color: #f9f9f9;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border-radius: 2px;
  overflow-x: auto; }

.content.svelte-m1j4hv pre code {
  background-color: transparent;
  padding: 0; }

.content.svelte-m1j4hv ul {
  line-height: 1.5; }

.content.svelte-m1j4hv li {
  margin: 0 0 0.5em 0; }

footer.svelte-4t65ko {
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  background-color: #009900;
  color: #FFF;
  font-size: calc(min(3.75vw, 1.75rem));
  font-weight: 400;
  margin-top: 1rem;
  display: block;
  padding: .5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 2rem;
  border-top: 1px solid #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5); }

header.svelte-1sav8bn.svelte-1sav8bn {
  top: 0;
  left: 0;
  width: 100%; }

header.svelte-1sav8bn h1.svelte-1sav8bn {
  text-align: center;
  background-color: #009900;
  color: #FFF;
  text-transform: uppercase;
  font-size: calc(min(7vw, 4rem));
  font-weight: 100;
  line-height: 1.1;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2rem 4rem -2rem rgba(0, 0, 0, 0.5), inset 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.95), 0 0 0.15rem rgba(0, 0, 0, 0.85), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); }

.data-format.svelte-2pd628 {
  font-size: 0.85rem;
  padding: 0.5rem;
  text-align: left; }

.settings.svelte-a8wga9 label.svelte-a8wga9 {
  display: block;
  font-weight: bold; }

.settings.svelte-a8wga9 label.svelte-a8wga9:not(:first-of-type) {
  margin-top: 1.5rem; }

table.svelte-3j9tcj.svelte-3j9tcj {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  font-family: monospace;
  font-size: 0.85rem;
  transform: opacity 2s; }

table.svelte-3j9tcj td.svelte-3j9tcj {
  padding: 0 3px;
  box-shadow: inset -6px 0 8px -8px rgba(0, 0, 0, 0.25);
  margin-top: 1px; }

table.svelte-3j9tcj td.new-month.svelte-3j9tcj {
  box-shadow: none; }

table.svelte-3j9tcj .headings.svelte-3j9tcj {
  background-color: #990099 !important;
  color: #FFF; }

table.svelte-3j9tcj .month-summary.svelte-3j9tcj {
  background-color: #ffccff !important;
  font-weight: 700;
  text-align: right; }

table.svelte-3j9tcj .balance-reset.svelte-3j9tcj {
  color: #FFF !important;
  background-color: #050 !important; }

table.svelte-3j9tcj .balance-negative.svelte-3j9tcj {
  background-color: #FF0000 !important;
  color: #FFF !important;
  font-weight: 700; }

table.svelte-3j9tcj .balance-low.svelte-3j9tcj {
  background-color: #EEAA00 !important;
  color: #FFF;
  font-weight: 700; }

table.svelte-3j9tcj .balance-uncomfortable.svelte-3j9tcj {
  color: #AA9900;
  font-weight: 700; }

table.svelte-3j9tcj .balance-goal.svelte-3j9tcj {
  color: #FFF;
  background-color: #009900 !important;
  font-weight: 700; }

table.svelte-3j9tcj .new-month.svelte-3j9tcj {
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 1rem;
  background-color: #fff !important; }

table.svelte-3j9tcj tbody tr.svelte-3j9tcj:nth-child(odd) {
  background-color: #ccffcc; }

.entry-modal.svelte-3j9tcj.svelte-3j9tcj {
  position: absolute;
  margin: 0 auto;
  top: -1000px;
  width: 75%;
  left: 12.5%;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.75); }

#inputEntries.svelte-9lfp5f {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 55em;
  font-size: 1rem;
  height: 90%; }

.dropzone.svelte-4uigcm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out; }

.dropzone.svelte-4uigcm:focus {
  border-color: #2196f3; }

.tab-list.svelte-1ysig1m {
  display: flex;
  border-bottom: 1px solid teal; }

.tabs.svelte-nzn2lw {
  width: 100vw;
  height: 100%;
  max-width: 56em;
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

button.svelte-1qyjuyd {
  flex: 1;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin: 0;
  padding: 0.25rem 0.5rem;
  color: #050;
  transition: border 0.15s, border-radius 0.15s; }

button.selected.svelte-1qyjuyd {
  border: none;
  color: #FFF;
  border-bottom: 2px solid #990099;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #990099;
  font-weight: 700;
  box-shadow: inset 0 -0.25rem 1rem -0.5rem rgba(0, 0, 0, 0.5), 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

button.svelte-1qyjuyd:focus {
  outline: none; }
